---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <section>
      <article class="space-y-8">
        <p
          class="animate font-semibold text-slate-950 dark:text-slate-50 mt-0 mb-5"
        >
          Web Developer in Lafayette, Louisiana.
        </p>
        <p class="animate">
          In 2023, I was waiting tables when I decided to start
          <Link
            href="https://www.theodinproject.com/"
            aria-label="Link to The Odin Project's Homepage"
            external>The Odin Project</Link
          >'s full-stack JavaScript curriculum. I was attracted to the program's
          demanding and project-heavy approach. After completing 140+ lessons
          and 20+ projects, I now possess <b>strong</b> fundamentals in HTML, CSS,
          and JavaScript, as well as proficiency in version control (Git), responsive
          design principles, third-party UI libraries (React), API integration, and
          more.
        </p>
        <p class="animate">
          In January of this year, I took on a web developer role at Vibrandt
          Websites. I've since shown rapid growth, going from zero knowledge of
          WordPress CMS to becoming a highly proficient contributor to the team.
          From reliably problem-solving complex issues by writing custom CSS,
          JavaScript, and PHP to continually developing and maintaining
          user-friendly and accessible interfaces in a timely manner, my
          development skills are frequently put to the test, and I consistently
          deliver efficient and effective solutions.
        </p>
        <p class="animate">
          I've made significant progress in my web development journey and am
          excited to continue advancing. I'm eager for opportunities to further
          hone my technical skills and creativity, contribute to innovative
          projects, and grow alongside like-minded developers.
        </p>
      </article>
    </section>
    <div class="space-y-16 pt-8">
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between pt-8">
          <h5
            class="font-semibold text-slate-950 dark:text-slate-50 space-y-16"
          >
            Work Experience
          </h5>
          <Link href="/work"> See all work </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-slate-950 dark:text-slate-50">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-slate-950 dark:text-slate-50">
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-slate-950 dark:text-slate-50">
          Let's Connect
        </h5>
        <article>
          <p>If you'd like to get in touch, send me an email.</p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
